* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* posicion */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* tamano */
    height: 100vh;
    /* estilo */
    background-color: lightblue;
}

body>div {
    /* tamano */
    width: 50%;
    max-width: 800px;
}

/* marcador */
.marcador-container {
    /* posicion */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    /* tamano */
    height: 5.5em;
    padding: 5px;
    /* estilo */
    background-color: lightgrey;
}

.contenido {
    /* tamano */
    height: 30em;
    max-height: 800px;
    /* estilo */
}

.marcador {
    /* posicion*/
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1em;
    /* tamano */
    height: 100%;
    width: 30%;
    max-width: 200px;
    /* estilo */
    background-color: rgb(194, 192, 192);
}

.marcador-derecha {
    /* posicion */
    flex-direction: row-reverse;
}

.usuario-imagen {
    /* tamano */
    height: 52px;
    aspect-ratio: 1/1;
    /* estilos */
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.puntuaje {
    font-size: 2rem;
    color: white;
}

.jugador {
    /* posicion */
    display: flex;
    flex-flow: column nowrap;
    /* tamano */
    padding: 0 .5em;
}

/* tablero */
.contenido {
    display: flex;
    flex-flow: row wrap;
}

.contenido div {
    width: 33.33%;
}

.contenido div:nth-child(1) {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.contenido div:nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.contenido div:nth-child(3) {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.contenido div:nth-child(4) {
    border: 2px solid black;
    border-left: none;
}
.contenido div:nth-child(5) {
    border: 2px solid black;
}
.contenido div:nth-child(6) {
    border: 2px solid black;
    border-right: none;
}
.contenido div:nth-child(7) {
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.contenido div:nth-child(8) {
    border: 2px solid black;
    border-bottom: none;
}
.contenido div:nth-child(9) {
    border-left: 2px solid black;
    border-top: 2px solid black;
}

/* Casillas juego, X y O */
.casilla {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.primerJugador {
    background-image: URL('https://static.vecteezy.com/system/resources/thumbnails/001/192/548/small/x.png');
}
.segundoJugador {
    background-image: URL('https://static.vecteezy.com/system/resources/thumbnails/001/192/291/small/circle.png');
}